:root {
  --cor-fundo: #850750;
  --cor-principal: #d1dda7;
  --cor-secundaria: #e08a1a;
  --cor-destaque: #cffd2b;
  --cor-texto: #d7ffd7;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.caixa-principal {
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}

h1 {
  color: var(--cor-destaque);
}